[build]
  publish = "."

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[redirects]]
  from = "/.netlify/*"
  to = "/index.html"
  status = 404

[build.environment]
  NODE_VERSION = "18"